:root{
  --shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
  --red: #D44545;
  --green: #51D445;
  --blue: #389bd4;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
   url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  }

body {
  margin: 0;
  background-color: white;
  font-family: Roboto;
  max-height: 100vh;
  overflow-y: scroll;
}

button{
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

nav{
  display: flex;
  overflow-y:visible;
}

nav ul{
  display: flex;
  padding: 8px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  width: 700px;
  min-width: 430px;
  max-width: 60%;
  list-style-type: none;
  background-color: rgb(253, 252, 252);
  box-shadow: inset var(--shadow);
}

nav li button{
  min-width: 100px;
  padding: 15px;
  transition: color, background-color 0.5s ease;
}

nav li button:hover{
  color: white;
  background-color: var(--blue);
  opacity: 0.5;
  transition: color, background-color 0.5s ease;
}

nav li button.selected{
  color: white;
  background-color: var(--blue);
  opacity: 1;
  transition: opacity 0.5s ease;
}

#logo_musee{
  width: 80px;
  height: 100px;
  margin-right: auto;
}

main{
  text-align: center;
}

.ctnr_caisse, .ecran_commands, .ecran_clients{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 70vh;
  /* overflow: hidden; */
}

.side{
  width: 50%;
  min-width: 400px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

/* Ecran Caisse ----------------------------------- */

form{
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: var(--shadow);
}
form h3{
  font-size: 12px;
  margin: 0;
  margin-bottom: 12px;
}

.name_input{
  display: flex;
}

.name_input .cross{
  height: 20px;
  width: 20px;
  background-color: var(--red);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease 0.2s;
}
.name_input .cross:hover{
  opacity: 1;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.close:before, .close:after {
  position: absolute;
  left: 9.5px;
  top: 2.8px;
  content: ' ';
  height: 13px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

input[type="text"]{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

.table_selection{
  margin: 20px 0;
  width: 80%;
  max-width:500px;
  height: 300px;
  max-height: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5px;
  column-gap: 5px;
  grid-template-rows: repeat(4, 1fr)
}

.table_selection button{
font-size: 14px;
}

.special_btn{
  background-color: var(--blue);
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.special_btn.selected{
  opacity: 0.5;
}

.ctnr_caisse .right.side h2{
  margin: 12px 0;
}

.recap{
  width: 90%;
  max-width: 300px ;
  height: 250px;
  max-height: 40vh;
  overflow-y: auto;
  text-align: left;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.right .btns{
  width: 80%;
  max-width:300px;
  display: flex;
  justify-content: space-between;
}

.btns button {
  width: 100px;
  height:50px;
  font-size: 15px;
  color: white;
}

.danger{
  color: white;
  background-color: var(--red);
}
.green{
  color: white;
  background-color: var(--green);
}

/* Ecrans commandes ----------------------------------------- */

.ecran_commands .side,.ecran_clients .side {
  max-width: 40vw;
  min-width: 320px;
  margin: 10px;
}

.side h2{
  width: 100%;
}

.commands{
  overflow-y: auto;
  max-height: 60vh;
  padding: 20px;
  width: 40vw;
  min-width: 300px;
  /* flex-shrink: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commands.client{
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.commande{
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  text-align: left;
  margin: 5px 0;
  max-width: 300px;
  min-width: 200px;
}

.client .commande{
  flex-shrink: 0;
  width: unset;
}

.commande h3{
  max-width: 100%;
  font-size: 15px;
  margin: 10px;
}

.cmd_infos{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cmd_infos span{
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.445);
  font-size: 10px;
}

.article{
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin: 5px 0;
  min-height: 30px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.article_infos{
  margin-right: auto;
  max-width: 70%;
}

.article button{
  min-height: 30px;
  height: 100%;
  margin-left: 5px;
  min-width: 60px;
}

.article_infos .option{
  opacity: 0.7;
  font-size: 10px;
}
